.container {
  display: flex;
  color: #fff;
  max-width: 1000px;
  padding: 3rem;
  min-height: 600px;
  border-radius: 10px;
}

.main-content {
  width: 100%;
  background-color: var(--dark1);
  padding: 16px;
}
