.container {
  display: flex;
  color: #fff;
  max-width: 80%;
  min-width: 80%;
  padding: 3rem;
  min-height: 600px;
  border-radius: 10px;
}

.main-content {
  width: 100%;
  background-color: var(--dark1);
  padding: 16px;
  border-radius: 0 8px 8px 0;
}
