.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.add {
  padding: 6px 10px;
  border-radius: 7px;
  background-color: #7500f7;
}

.add:hover {
  cursor: pointer;
}

.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a3a1a1;
  border-radius: 50%;
  padding: 6px;
}

.search p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 0.8rem;
}

.info-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 10px;
  gap: 0.5rem;
}

.avatar-wrapper {
  position: relative;
}

.avatar-wrapper .avatar-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0rem;
  right: -0.2rem;
  color: #333333;
  background-color: #d7d9df;
  padding: 5px;
  border-radius: 50%;
}

.nav-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-icon svg {
  padding: 0.3rem;
  border-radius: 50%;
  cursor: pointer;
}

.edit-icon svg:hover {
  background-color: #7500f7;
}

.edit-name input {
  display: block;
  padding: 10px 16px;
  margin-bottom: 8px;
  outline: none;
  border: 2px solid #d7d9df;
  border-radius: 7px;
  font-size: 1rem;
  width: 12rem;
}

.name {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

.state {
  text-align: center;
  color: green;
  font-size: 14px;
}

.member-list {
  margin-left: 1rem;
}

.member-list h3 {
  font-size: 1rem;
}

.member {
  display: flex;
  justify-content: space-between;
  margin-top: 0.8rem;
  position: relative;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav:hover {
  cursor: pointer;
}

.member .user {
  display: flex;
  gap: 0.8rem;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popover {
  position: absolute;
}

.display-none {
  display: none;
}

@media only screen and (max-width: 999px) {
  .image-wrapper > span {
    width: 50px !important;
    height: 50px !important;
    line-height: 50px !important;
    font-size: 14px !important;
  }

  .name,
  .state {
    font-size: 14px;
  }

  .container {
    padding-left: 10px;
  }

  .search {
    gap: 0.5rem;
    font-size: 12px;
  }

  .member-list {
    font-size: 12px;
  }
}
