.container {
  padding-right: 10px;
}

.search {
  margin-bottom: 10px;
}

.chat-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-nav h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.add-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-group:hover {
  cursor: pointer;
}
