.container {
  padding-right: 10px;
}

.search {
  margin-bottom: 10px;
  width: 100%;
}

.input {
  width: 100%;
}

.chat-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-nav h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.add-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-group:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .list-conversation {
    width: 100%;
    display: inline-block;
    overflow-x: auto;
    white-space: nowrap;
  }
}
