$mobile-width: 600px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 700px) and (max-width: 999px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

.profile {
  width: 100%;
  margin: 0 2rem;

  @include mobile {
    margin: 0;
  }

  @include tablet {
    margin: 0;
  }
}
