$mobile-width: 768px;
$tablet-width: 1000px;

@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

.profile-header {
  --bg-height: 250px;
  --avatar-width: 8rem;
  border-radius: 7px;
  position: relative;
  background-color: #454545;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  .bg {
    border-radius: 7px;
    position: relative;
    img {
      border-radius: 7px;
      width: 100%;
      height: var(--bg-height);
      object-fit: cover;
    }

    label {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      color: var(--white-color);
      --tw-bg-opacity: 0.5;
      background-color: rgb(0 0 0 / var(--tw-bg-opacity));
      padding: 8px 10px;
      border-radius: 7px;
      font-size: 0.9rem;

      svg {
        margin-right: 0.4rem;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .avatar {
    position: absolute;
    padding: 4px;
    border-radius: 50%;
    background-color: #fff;
    top: calc(var(--bg-height) - var(--avatar-width) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 2rem;
    z-index: 100;
    cursor: pointer;
    img {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      object-fit: cover;
    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 0.6rem;
      right: 0.2rem;
      color: #333333;
      background-color: #d7d9df;
      padding: 5px;
      border-radius: 50%;
    }
  }

  .info {
    position: relative;
    .overview {
      margin-left: 12rem;
      h2 {
        margin: 0;
        @include tablet {
          font-size: 1.2rem;
        }
      }

      p {
        margin: 0;
        margin-top: 0.5rem;
        @include tablet {
          font-size: 0.8rem;
        }
      }

      input {
        display: block;
        padding: 10px 16px;
        margin-bottom: 8px;
        outline: none;
        border: 2px solid #d7d9df;
        border-radius: 7px;
        font-size: 1rem;
        width: 12rem;
        &:focus {
          border: 2px solid #218dfa;
        }
      }
    }
  }

  .edit {
    position: absolute;
    top: 0.2rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    margin-top: 0.5rem;
    background-color: #218dfa;
    border-radius: 7px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    @include tablet {
      top: unset;
    }
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
    }
    span {
      margin-left: 0.5rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .save-profile {
    right: 7rem;
  }

  .save-profile span,
  .cancel span {
    margin-left: 0rem;
  }

  .display-none {
    display: none;
  }

  .navigator {
    margin-top: 2.5rem;
    margin-left: 2rem;
    display: flex;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.3rem;
      text-decoration: none;
      color: #fff;
      padding: 8px 10px 4px 10px;
      border-bottom: 4px solid transparent;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .active {
      border-bottom: 4px solid #218dfa;
      color: #218dfa;
    }
  }
}
