.container {
  max-width: 100%;
  background-color: rgb(49, 51, 56, 0.9);
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.main-content {
  display: flex;
  height: 100%;
}

.left-bar {
  width: 25%;
  height: 100%;
  border-right: 1px solid var(--border1);
}

.chat-wrap {
  width: 100%;
  display: flex;
}

.main-chat {
  min-height: 600px;
  width: 100%;
}

.expand {
  width: 70%;
  padding-right: 5px;
}

.right-bar {
  height: 100%;
  width: 30%;
  border-left: 1px solid var(--border1);
}

/* @media only screen and (max-width: 600px) {
  .main-content {
    display: block;
  }
  .left-bar {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: var(--dark2);
  }
  .main-chat {
    width: 100%;
  }
} */

@media only screen and (max-width: 768px) {
  .chat-mobile {
    flex-direction: column;
    width: 100%;
  }

  .left-bar-mobile {
    width: 100%;
    height: auto;
  }

  .left-bar {
    margin-bottom: 1rem;
    border-right: none;
    border-bottom: 4px solid var(--border1);
  }

  .main-chat {
    width: 100%;
  }
}
