.container {
  max-width: 100%;
  background-color: rgb(49, 51, 56, 0.9);
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.main-content {
  display: flex;
  height: 100%;
}

.left-bar {
  width: 25%;
  height: 100%;
  border-right: 1px solid var(--border1);
}

.main-chat {
  width: 75%;
}

.expand {
  width: 50%;
  padding-right: 5px;
}

.right-bar {
  height: 100%;
  width: 25%;
  border-left: 1px solid var(--border1);
}
