.container {
  padding-left: 10px;
  height: 100%;
}

.input {
  background-color: var(--dark2);
  border: none;
  color: #fff;
  box-shadow: none;
}

.input::placeholder {
  color: #fff;
  opacity: 0.5;
}
