.container {
  display: flex;
  margin: 10px;
  gap: 8px;
}

.message {
  width: 100%;
}

.text {
  display: inline-block;
  max-width: 60%;
  overflow-wrap: break-word;
  background-color: #3e4042;
  padding: 6px;
  border-radius: 0 8px 8px 8px;
}

.me .text {
  background-color: rgb(39, 84, 136);
  border-radius: 8px 0 8px 8px;
  float: right;
}

.send-info {
  margin-bottom: 6px;
  opacity: 0.7;
}

.me .send-info {
  display: none;
}

.name {
  font-size: 14px;
}

.time {
  font-size: 10px;
  margin-left: 8px;
  font-weight: 400;
}
